@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Damion|Economica|Sacramento');

body {
  width: 100%;
  margin: auto;
  font-family: 'Roboto';
  color: #546E7A;
}

h1 {
  color: #546E7A;
  font-weight: 400;
}


.home {
  padding: 60px 0 0 0;
  width: 960px;
  margin: 0 auto;
}

.auth {
  padding: 60px 0 0 0;
  width: 300px;
  margin: 0 auto;
}

.loginLink {
  padding-top: 20px !important;
}

.navLink {
  text-decoration: none;
  font-color: white !important;
}

.submitButton {
  margin: 20px 0px 10px 0px;
}

.logo {
  font-family: 'Economica';
  font-size: 1.25em;
}

.mapTitle {
  padding: 20px;
}
