.nodeBase {
  cursor: pointer;
  fill: #03A9F4;
  stroke: #03A9F4;
  stroke-width: 5;
}

.leafNodeBase {
  cursor: pointer;
  fill: #E91E63;
  stroke: #E91E63;
  stroke-width: 5;
}

.nodeNameBase {
  stroke: #212121;
  stroke-width: 0;
}

.nodeAttributesBase {
  stroke: #FFEB3B;
  stroke-width: 0;
  font-size: smaller;
}
