.nodeBase {
  cursor: pointer;
  stroke-width: 5;
}

.leafNodeBase {
  cursor: pointer;
  fill: #0CCE6B;
  stroke: #0CCE6B;
  stroke-width: 5;
  font: 14px 'Roboto';
}

.nodeNameBase {
  stroke: #212121;
  stroke-width: 0;
  font: 18px 'Roboto';
}

.nodeAttributesBase {
  stroke: #FFEB3B;
  stroke-width: 0;
  font-size: smaller;
  font: 14px 'Roboto';
}
